@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans);


body {
  max-width: 55em;
  display:block;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  margin:auto;
  background: rgb(154, 162, 168);
  font-size:16px;
  font-family: 'Lato';
  margin-top: 2.2em;
  padding-left: .5em;
  padding-right: .5em;
  color: black;
} 

.outer {
  width: 60em;
}

.inner {
  width: 11.4em;
  display: block;  
  float: left;
}

.logotext {
  color: black;
  margin: auto;
  font-size: 2.8em;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  text-transform:uppercase;
  line-height: 1.1em;
  text-align:center;
  padding-top: .3em;
  padding-bottom: .5em;
}

.ftr {
  text-align: center;
  font-size: .7em;
  padding-bottom: 1em;
}

.rlink{
  color: black;
  display: block;
  text-align: center;
  font-family: 'Lato';
  font-size: .9em;
  padding-bottom: 5em;
 }


.zh {
  display: block;
  clear:both;
  color: rgb(255,255,255);
  font-size: 2em;
  line-height: 1.1em;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}


.location {
    font-size: .9em;
    text-align:center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.maintext{
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 1em;
  line-height: 1em;
  margin: auto;
  text-align: left;
}

::selection {
  color: white;
  background: rgb(252,44,7);
}


a:link, :visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color:rgb(252,44,7);
}

.tzoid {
  display: block;
  margin: -.6em auto .7em auto;
      -webkit-transform: scale(.8,1.4);
  width:30px; height:0;
  line-height:0;
  border-top:40px solid transparent;
  border-right:50px solid transparent;
  border-bottom:50px solid black;
  border-left:50px solid transparent;
}

.lava{
  margin: -20px auto 0px auto;
  width: 0px;
  height: 0px;
  line-height: 0;
  border-top:14px solid rgb(255,69,0);
  border-right:14px solid transparent;
  border-bottom:14px solid transparent;
  border-left:14px solid transparent;
}


