<!DOCTYPE html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description"content="Toba Capital is a venture firm founded by Vinny Smith."/>
		<meta name="author" content="Toba Capital"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
		<title>Toba Capital</title>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-38641710-1']);
			_gaq.push(['_trackPageview']);
			
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>

	<body>
		{{content}}
	</body>
</html>
